

<!--
Commentaire pour cette partie du code template pour le composant 
changer une proprété html saus certaine condition 
Le mois courrant est  Fevrier est en gras
-->

<div>[moisModel]</div>


<div class="container">
        <div class="row">  
            <div class="col-md-4" align="center" style="background-color:darktgray;"  *ngFor="let mois of moisModel |slice:0:3;let i = index">
                <div  *ngIf="i === moisCourant"> 
                     <b><pr-mois [moisModel]="mois"></pr-mois></b>
                </div> 
                <div *ngIf="i !=moisCourant"> 
                    <pr-mois [moisModel]="mois"></pr-mois>
                </div> 
            </div>
        </div>

 <div class="row">      
    <div class="col-md-4 " align="center" style="background-color:darktgray;" *ngFor="let mois of moisModel |slice:3:6;let i = index">   
         <div *ngIf="i+3 === moisCourant"> 
             <pr-mois [moisModel]="mois"></pr-mois>
         </div> 
          <div *ngIf="i+3 !=moisCourant"> 
               <pr-mois [moisModel]="mois"></pr-mois>
         </div> 
              
    </div>
</div>

<div class="row">      
    <div class="col-md-4 " align="center" style="background-color:darktgray;" *ngFor="let mois of moisModel|slice:6:9;let i = index">   
         <div *ngIf="i+6 === moisCourant"> 
             <pr-mois [moisModel]="mois"></pr-mois>
         </div> 
         <div *ngIf="i+6 !=moisCourant"> 
             <pr-mois [moisModel]="mois"></pr-mois>
         </div> 
    </div>
</div>
 
 <div class="row">      
    <div class="col-md-4 " align="center" style="background-color:darktgray;" *ngFor="let mois of moisModel|slice:9:12;let i = index">   
        <div *ngIf="i+9 === moisCourant"> 
            <b><pr-mois [moisModel]="mois"></pr-mois></b>
        </div> 
        <div *ngIf="i+9 !=moisCourant"> 
             <pr-mois [moisModel]="mois"></pr-mois>
        </div> 
    </div>
</div>


 </div>

