<!--
Commentaire pour cette partie du code template pour le composant 
<figure (click)="clicked()">
  <img [src]="getMoisImageUrl()" [alt]="moisModel.name"/>
  <figcaption>{{ moisModel.nom }}</figcaption>
</figure>
<div>{{moisModel.nom}} <br>{{moisModel.nbrJours}} jours</div>
<figcaption>{{ moisModel.nom }}</figcaption>
-->

<div class="container {{moisModel.saisonImg}}" style="border:2px solid dimgray;background-color:white;">

    
    <div class="row " style="margin-top: 0px;"> 
        <div class="col-sm-4 " ><b></b></div> 
        <div class="col-sm-4 " ><b>{{ moisModel.nom| uppercase }}</b></div> 
        <div class="col-sm-4 "><b></b></div> 
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>  
        <div class="col-sm-1 mois-en-forme" *ngFor="let semaine of semaines">{{semaine}}</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div> 
        <div class="col-sm-1"></div> 
    </div>
    
    
    <div class="row" style="margin-top: 0px;"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>  
        <div class="col-sm-1 mois-numero" *ngFor="let jour of listeJours |slice:0:7">{{jour}}</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div> 
        <div class="col-sm-1"></div> 
    </div>
    
    <div class="row" style="margin-top: 0px;"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>  
        <div class="col-sm-1 mois-numero" *ngFor="let jour of listeJours |slice:7:14">{{jour}}</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div> 
        <div class="col-sm-1"></div> 
    </div>
    

<div class="row" style="margin-top: 0px;"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>  
        <div class="col-sm-1 mois-numero" *ngFor="let jour of listeJours |slice:14:21">{{jour}}</div>
<!--        <div class="col-sm-1 mois-numero" *ngFor="let jour of jours |slice:7:14">{{jour}}</div>-->
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div> 
        <div class="col-sm-1"></div> 
    </div>

    <div class="row" style="margin-top: 0px;"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>  
        <div class="col-sm-1 mois-numero" *ngFor="let jour of listeJours |slice:21:28">{{jour}}</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div> 
        <div class="col-sm-1"></div> 
    </div>
    
    
    <div class="row" style="margin-top: 0px;"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>  
        <div class="col-sm-1 mois-numero" *ngFor="let jour of listeJours |slice:28:35">{{jour}}</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div> 
        <div class="col-sm-1"></div> 
    </div>
    
    <div class="row" style="margin-top: 0px;"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>  
        <div class="col-sm-1 mois-numero" *ngFor="let jour of listeJours |slice:35:42">{{jour}}</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div> 
        <div class="col-sm-1"></div> 
    </div>