rectangle{
	height:100px;
	background:#069;
}

div#blocnews {
	float:right;
	width:100px;
	height:100px;
	background-color:#FF3300;
	}
div>p {
	float:left;
	font-family: Verdana, sans-serif; 
        font-weight:bold;
        color:white;
        font-size: 60%;
        }  

.mois-en-forme {
       color:white;
       font-weight:bold;
       background-color:black;
       font-size: 60%;
}

.mois-numero {
       color:blue;
       background-color:lightblue;
       font-weight:bold;
       font-size: 60%;
}

.mois-en-forme-jour {
       color:black;
       font-weight:bold;
       background-color:lightblue;
       font-size: 60%;
}

p.dayweek{
    color:black;
}

dayweekend {
    color:red; 
}

.bg-mois-printemps{
    background-image:url(../../assets/images/bg-mois-printemps.png);
    height:160px;
}

.bg-mois-hiver{
    background-image:url(../../assets/images/bg-mois-hiver.png);
    height:160px;
}

.bg-mois-ete{
    background-image:url(../../assets/images/bg-mois-ete.png);
    
    height:160px;
}

.bg-mois-automne{
    background-image:url(../../assets/images/bg-mois-automne.png);
    height:160px;
}

.janvier_Caption{
    
}