<!--
Commentaire pour cette partie du code template pour le composant 
<figure (click)="clicked()">
  <img [src]="getMoisImageUrl()" [alt]="moisModel.name"/>
  <figcaption>{{ moisModel.nom }}</figcaption>
</figure>
<div>{{moisModel.nom}} <br>{{moisModel.nbrJours}} jours</div>
<figcaption>{{ moisModel.nom }}</figcaption>
-->

<div class="container" style="border:1px solid dimgray;background-color:lightgray;">
    <div class="row" style="margin-top: 0px;" >
        <div class="col-sm-4" style="color:darkgray;background-color:lightgray;" align="center"><b></b></div> 
        <div class="col-sm-4" style="color:darkgray;background-color:lightgray;" align="center"><b>{{ moisModel.nom| uppercase }}</b></div> 
        <div class="col-sm-4" style="color:darkgray;background-color:lightgray;" align="center"><b></b></div> 
        <div class="col-sm-2" style="color:white;background-color:lightgray;"></div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;">Lu</div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;">Ma</div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;" >Me</div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;">Je</div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;">Ve</div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;">Sa</div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;">Di</div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;"></div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;"></div>
        <div class="col-sm-1" style="color:white;background-color:lightgray;"></div>
    </div>

    <div class="row" style="margin-top: 0px;" >
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>  
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">1</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">2</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">3</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">4</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">5</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">6</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">7</div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 

    </div>

    <div class="row" style="margin-top: 0px" >
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>  
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">1</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">2</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">3</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">4</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">5</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">6</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">7</div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 
    </div>
    <div class="row" style="margin-top: 0px" >
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>  
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">1</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">2</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">3</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">4</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">5</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">6</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">7</div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 
    </div> 
    <div class="row" style="margin-top: 0px" >
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>  
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">1</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">2</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">3</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">4</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">5</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">6</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">7</div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 
    </div> 
    
    <div class="row" style="margin-top: 0px" >
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>  
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">1</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">2</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">3</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">4</div>
      <div class="col-sm-1"  style="color:white;background-color:lightblue;">5</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">6</div>
      <div class="col-sm-1"  style="color:red;background-color:lightblue;">7</div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div>
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 
      <div class="col-sm-1"  style="color:white;background-color:lightgray;"></div> 
    </div> 
</div>

<!--
<div class="row">  
    <div *ngFor="let mois of moisModel.nbrJours;let i = index">
        <div class="col-sm-1"  style="color:white;background-color:darkblue;"> {{ moisModel.nbrJours }}</div> 
    </div>
</div>

-->

<!--
Boucle sur les jours pour afficher le bon premier jour



Affichage des jours
-->






