/*
commentaire
*/

.mois-en-forme {
       color:white;
       font-weight:bold;
       background-color:black;
       font-size: 60%;
}

.mois-numero {
       color:blue;
       background-color:white;
       font-weight:bold;
       font-size: 60%;
}

.mois-en-forme-jour {
       color:black;
       font-weight:bold;
       background-color:lightblue;
       font-size: 60%;
}

p.dayweek{
    color:black;
}

dayweekend {
    color:red; 
}

.bg-mois-printemps{
    background-image:url(../../assets/images/bg-mois-printemps.png);
    height:160px;
    border:2px solid white;
  }

.bg-mois-hiver{
    background-image:url(../../assets/images/bg-mois-hiver.png);
    height:160px;
    border:2px solid white;
}

.bg-mois-ete{
    background-image:url(../../assets/images/bg-mois-ete.png);
    height:160px;
    border:2px solid white;
}

.bg-mois-automne{
    background-image:url(../../assets/images/bg-mois-automne.png);
    height:160px;
    border:2px solid white;
}

.janvier_caption{
   color:white;
  /* background-color:blue;*/
   font-weight:bold;
   border:0px solid white;
}