rectangle{
	height:100px;
	background:#069;
}

div#blocnews {
	float:right;
	width:100px;
	height:100px;
	background-color:#FF3300;
	}
div>p {
	float:left;
	font-family: Verdana, sans-serif; 
        font-weight:bold;
        color:white;
        font-size: 60%;
        }  

.mois-en-forme {
       color:white;
       font-weight:bold;
       background-color:black;
       font-size: 60%;
}

.mois-numero {
       color:white;
       background-color:lightblue;
       font-weight:bold;
}

.mois-en-forme-jour {
       color:black;
       font-weight:bold;
       background-color:lightblue;
       font-size: 60%;
}

.mois-en-forme[lang]{
    color:blue;
    background-color:lightgray;
   } 


p.dayweek{
    color:black;
}

dayweekend {
    color:red; 
}
        
