<!--
Commentaire pour cette partie du code template pour le composant 
-->

<div class="container">
        <div class="row">  
            <div class="col-md-4"  style="background-color:lightgray;"  *ngFor="let mois of moisModel;let i = index">
                 <div *ngIf="i < 3">    
                    {{mois.nom}}
                </div>
            </div>
        </div>


<!--
            <div *ngIf="i > 3">    
                <div *ngIf="i < 6"> 
                    <div class="col-6 col-sm-4">{{i}} {{mois.nom}}</div>
                </div>    
            </div>
 -->

 <div class="row">      
    <div class="col-md-4 " style="background-color:lightblue;" *ngFor="let mois of moisModel;let i = index">   
        <div *ngIf="i > 2">
            <div *ngIf="i < 6"> 
                {{mois.nom}}
            </div>
        </div> 
    </div>
</div>

 
<div class="row">      
    <div class="col-md-4 " style="background-color:yellow;" *ngFor="let mois of moisModel;let i = index">   
        <div *ngIf="i > 8">
            {{mois.nom}}
        </div> 
    </div>
</div>

 </div>

